<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title>Crash Course &lt;&gt; JCH </title>
    <link href="https://fonts.googleapis.com/css?family=Changa:800|Roboto+Mono:300,400,500&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_tag 'images/jules.png' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
