
.main-h1{
  background-color: #1d0949;
  padding: 20px;
  max-width: 50%;
  color: #cfe70a;
  margin: 0 auto;
  // border-radius: 7px
}

h3 {
  font-size: 25px;
  color: #1d0949
}

code{
  color: #1d0949;
  background-color: #6c71444f;
}

.readme {
  font-size: 18px;
  &-section {
    background-color: #FAFAFA;
    padding: 40px;
    box-shadow: 1px 1px 3px #F0F0F0;
    position: relative;
    margin: 50px 0;
  }

  .download {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }

  pre {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }

  // Headings

  h1.readme-header, h2.readme-header, h3.readme-header {
    color: #1d0949;
    font-weight: bold;
    line-height: 25px;
    margin: 10px 0;
    text-transform: uppercase;
    // background: #474747;
    line-height: 45px;
    // text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  h1.readme-header {
    font-size: 33px;
  }
  h2.readme-header {
    font-size: 29px;
  }
  h3.readme-header {
    font-size: 25px;
  }
  li {
    font-size: 18px;
    line-height: 30px;
    margin: 5px 0;
  }
}

.readme-section{
  border-radius: 7px;
}

.titling{
  font-family: "Roboto Mono"
}

a{
  color: #0097a7
}

a:hover{
  text-decoration-style: wavy;
  // font-weight: bolder;
}


